@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
}

body {
  min-height: 100vh;
  background-color: #3a4663;
  padding: 30px 24px 31px;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  letter-spacing: -0.53px;
  color: #fff;
}

.theme-div {
  display: flex;
  gap: 26px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.theme-numbers {
  display: flex;
  justify-content: space-around;
}

.theme-text {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.theme-switch {
  width: 71px;
  height: 26px;
  border-radius: 13px;
  background-color: #242d44;
  padding: 5px;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #d03f2f;
  border-radius: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
