@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
}

body {
  min-height: 100vh;
  background-color: #3a4663;
  padding: 30px 24px 31px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

header {
  display: flex;
  gap: 130px;
  justify-content: space-between;
}

h1 {
  letter-spacing: -0.53px;
  color: #fff;
}

.theme-div {
  display: flex;
  gap: 26px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.theme-numbers {
  display: flex;
  justify-content: space-around;
}

.theme-text {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #fff;
}

.theme-switch {
  width: 71px;
  height: 26px;
  border-radius: 13px;
  background-color: #242d44;
  padding: 5px;
}

.circle {
  width: 16px;
  height: 16px;
  background-color: #d03f2f;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.circle:hover {
  background-color: #f96b5b;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.output {
  width: 327px;
  height: 88px;
  padding: 25px;
  border-radius: 10px;
  background-color: #181f33;
}

.input {
  border-radius: 10px;
  background-color: #242d44;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 13px;
  padding: 25px;
}

button {
  width: 60px;
  height: 64px;
  border-radius: 5px;
  box-shadow: inset 0 -4px 0 0 #b3a497;
  background-color: #eae3dc;
  border: none;

  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.53px;
  text-align: center;
  color: #434a59;
  cursor: pointer;
  transition: 0.4s;
}

button:hover {
  background-color: #fffffe;
}

.delete {
  box-shadow: inset 0 -4px 0 0 #414e73;
  background-color: #647198;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
}

.delete:hover {
  background-color: #a2b2e1;
}

.last {
  grid-column: span 2;

  width: 133px;
  height: 64px;
  border-radius: 5px;
  font-size: 20px;
  color: #fff;
}

.reset {
  box-shadow: inset 0 -4px 0 0 #414e73;
  background-color: #647198;
  cursor: pointer;
  transition: 0.4s;
}

.reset:hover {
  background-color: #a2b2e1;
}

.equals {
  box-shadow: inset 0 -4px 0 0 #93261a;
  background-color: #d03f2f;
  cursor: pointer;
  transition: 0.4s;
}

.equals:hover {
  background-color: #f96b5b;
}

@media screen and (min-width: 1440px) {
  header {
    gap: 343px;
  }

  .output {
    width: 540px;
    height: 128px;
  }

  button {
    width: 101px;
    height: 64px;
    border-radius: 10px;
    font-size: 40px;
  }

  .delete {
    font-size: 28px;
  }

  .reset {
    font-size: 28px;
    width: 227px;
    height: 64px;
  }

  .equals {
    font-size: 28px;
    width: 227px;
    height: 64px;
  }
}
