@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan";
}

body {
  min-height: 100vh;
  background-color: #3a4663;
  padding: 30px 24px 31px;
  display: flex;
  flex-direction: column;
}
